body{

    font-family: 'Poppins', sans-serif;
}
h1{
    font-size:80px ;
   
    color:maroon;
    text-align: center;

}
.about{
    color:green;
}
section{
    display:flex;
}
.span{
    color:rgb(156, 136, 136);
    
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(green,red);
    padding:10px 40px;
    border-radius: 20px;
    color:white;
    font-weight: 700;
}

  
    





   
   


