body{

    font-family: 'Poppins', sans-serif;
}
.bd{
    font-size:80px ;
   
    color:maroon;
    text-align: center;

}
.about{
    color:green;
    margin-left: 20px;
    padding-left: 20px;
}
.flexible-container{
    display:flex;
    margin-bottom: 100px;
}
.span{
    color:orangered;
    margin-left: 20px;
    margin-top: 20px;
    padding-left: 20px;

    
    
}

#weight{
    font-weight: 900%;
}
.city{
    color:purple;
    margin-left:30px;
   
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(green,red);
    padding:10px 40px;
    border-radius: 20px;
    color:white;
    font-weight: 700;

}
  p{
      text-align: justify;
      margin-left: 15px;
      margin-right: 15px;
      padding-left: 20px;
      
  } 
   .half-width{
      
        width:450px;
       border-radius: 10px;
       margin-left: 15px;
       padding-left: 15px;
       
   }

  h1{
      text-align: center;
      color:green;
      font-size: 50px;
  }
  img {
   
    border-radius: 4px;
    padding: 5px;
    width: 400px;
   
  }
  
  
 .section1{
     text-align: justify;
     display: flex;
     margin-left:20px;
     margin-right: 20px;
     padding-left: 20px;
     padding-right: 20px;
     width:50%;
     height:600px;
     border:50px;
     box-shadow: 5px white;
 }
 
  
.shawod{
    display: flex;

    background-color: DodgerBlue;
  
}
.lalbag{
    width:40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 1%;
    padding-right: 1%;
  box-shadow: 10px 10px 30px gray;
  
}



  
    





   
   


